<script setup>
  defineProps(['error'])

  const handleClearError = () => {
    clearError({redirect: '/'})
  }
</script>

<template>
  <div class="mt-7 max-w-sm mx-auto text-center card">
    <h2 class="mt-7 text-7xl font-bold">{{ error.statusCode }}</h2>
    <p class="mt-7 text-6xl">Whoops!</p>
    <p class="mt-7">{{ error.message }}</p>
    <button class="btn my-7" @click="handleClearError">Go Home...</button>
  </div>
</template>

<style scoped>

</style>