<script setup lang="ts">

import {CheckIcon} from "@heroicons/vue/20/solid";

const { product } = defineProps<{
  product: {
    id: number;
    title: string;
    description: string;
    price: number;
    image: string;
  };
}>();
</script>

<template>
  <div class="bg-white rounded-xl">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <!-- Product details -->
      <div class="lg:max-w-lg lg:self-end">
        <div class="mt-4">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ product.title }}</h1>
        </div>

        <section aria-labelledby="information-heading" class="mt-4">
          <h2 id="information-heading" class="sr-only">Product information</h2>

          <div class="flex items-center">
            <p class="text-lg text-gray-900 sm:text-xl">${{ product.price }}</p>
          </div>

          <div class="mt-4 space-y-6">
            <p class="text-base text-gray-500">{{ product.description }}</p>
          </div>

          <div class="mt-6 flex items-center">
            <CheckIcon class="h-5 w-5 flex-shrink-0 text-green-500" aria-hidden="true" />
            <p class="ml-2 text-sm text-gray-500">In stock and ready to ship</p>
          </div>

          <div class="mt-6 flex items-center">
            <button class="btn flex">
              <i class="material-icons mr-2">add_shopping_cart</i>
              <span>Add to cart</span>
            </button>
          </div>
        </section>
      </div>

      <!-- Product image -->
      <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
        <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg">
          <img :src="product.image" :alt="product.title" class="h-full w-full object-cover object-center" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>