<script setup lang="ts">
const {product} = defineProps<{
  product: {
    id: number;
    title: string;
    description: string;
    price: number;
    image: string;
  };
}>();
</script>

<template>
  <NuxtLink :to="`/products/${product.id}`">
    <img :src="product.image"
         :alt="product.title"
         class="w-full h-48 object-cover mb-4">
    <h3 class="font-bold text-lg">{{ product.title }}</h3>
    <p class="text-gray-500">{{ product.description }}</p>
    <p class="text-gray-700 font-bold mt-2">${{ product.price }}</p>
  </NuxtLink>
</template>

<style scoped>

</style>