<script setup lang="ts">

const {id} = useRoute().params;
const url = `https://fakestoreapi.com/products/${id}`;

// fetch product
const {data: product} = await useFetch(url);

if(! product.value) {
  // redirect to 404 page
  throw createError({ statusCode: 404, message: 'Product not found' , fatal: true});
}

// if want to use it as dynamic layout
// setPageLayout('product')

definePageMeta({
  layout: 'products',
})
</script>

<template>
  <div>
    <Head>
      <Title>{{ product.title }} | Nuxt Fake Merch</Title>
      <Meta name="description" :content="product.description" />
    </Head>
    <ProductDetail :product="product"/>
  </div>
</template>

<style scoped>
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin: 20px 0;
}
</style>