<script setup lang="ts">
definePageMeta({
  layout: 'products',
})

useHead({
  title: 'Products | Nuxt Fake Merch',
})

// fetch products
const {data: products} = await useFetch('https://fakestoreapi.com/products')
</script>

<template>
  <div>
    <h2>Products</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div v-for="product in products" :key="product.id" class="card">
        <ProductCard :product="product"/>
      </div>
    </div>
  </div>
</template>

<style scoped>
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin: 20px 0;
}
</style>