<script setup lang="ts">
  const { data } = await useFetch('/api/secret?name=test', {
    method: 'POST',
    body: {
      age: 30
    }
  })

  const { data: currency } = await useFetch('/api/currency')
</script>

<template>
  <div>
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim expedita facilis hic libero minus
      officiis porro quia quos, tempora!</p>
    <p>Animi cupiditate nihil nobis qui ratione. Cupiditate in labore perferendis temporibus. Ad deleniti dolore
      doloremque laudantium molestias neque officia temporibus!</p>
    <div>{{ data }}</div>
    <div>{{ currency }}</div>
  </div>
</template>

<style scoped>
h2  {
  margin-bottom: 20px;
  font-size: 36px;
}

p{
  margin: 20px 0;
}
</style>